.navbar-brand{
    font-size: 200% !important; 
}

.card-img-overlay {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    left: 0;
    right: 0;
    bottom: 0;
}
@media (min-width: 992px) {
  .card-img-overlay{
    font-size: 300%;
  }
  .card-img-overlay h1{
    font-size: 200%;
  }
  .card-img{
  object-fit: cover; 
  max-height: 50rem;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .card-img-overlay {
    font-size: 200%;
  }
  .card-img-overlay h1{
    font-size: 200%;
  }
  .navbar-brand{
    font-size: 130% !important;  
  }
}
@media (max-width: 576px) {
  .card-img-overlay {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    font-size: 100%;
    justify-content: end;
  }
  .card-img-overlay h1{
    font-size: 150%;
  }
  .navbar-brand{
    font-size: 100% !important; 
  }
}
.button-registrieren-bild{
  width: 15rem;
  height: 3rem;
}
.button-registrieren-bild:hover{
  background-color: transparent !important;
}
.accordion-button.collapsed{
  background-color: rgb(248, 249, 250);
}
.carousel-item img{
  height: 400px;
  object-fit:cover;
}
.carousel-item-2 img, .carousel-item-4 img{
  margin-top: 100;
  object-position: top;
}
.carousel-item-3 img, .carousel-item-5 img{
  margin-top: 100;
  object-position: bottom;
}
.carousel-caption{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    left: 0 !important; 
    right: 0 !important;
    bottom: 0 !important;
}